<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727210051815-tfg4nom5o7bm5mh5upkrrvh5kq8jjle0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727210051815-tfg4nom5o7bm5mh5upkrrvh5kq8jjle0</string>
	<key>API_KEY</key>
	<string>AIzaSyDJHcOrDS5E8Fyv1SvxECRsuuN2fu9jTP0</string>
	<key>GCM_SENDER_ID</key>
	<string>727210051815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipes</string>
	<key>PROJECT_ID</key>
	<string>recipes-b52df</string>
	<key>STORAGE_BUCKET</key>
	<string>recipes-b52df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727210051815:ios:3e2b425cf97bdc1b533a42</string>
	<key>DATABASE_URL</key>
	<string>https://recipes-b52df.firebaseio.com</string>
</dict>
</plist>